header img{

  width: 200px;
  height: 70px;
  align-items: center;
  display: block;
justify-content: center;
margin: 0px 600px 0px 600px;
}

.coin-selection-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 45%;
  padding: 0px 50px 0px 50px;
  border: 1px solid #f5f2f5;
  background-color: rgb(241, 240, 240);
  
}

.coin-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  border: 1px solid #fdfbfb;
  margin: 20px;
  padding: 10px;
}

.coin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d1d1;
  border: 0px solid #131212;
  cursor: pointer;
  width: 50px;
}

.coin:hover{
  background-color: black;
}
.coin img{ 
  max-width: 100%;
  max-height: 100%;
}

.coin.selected {
  background-color: rgb(240, 159, 44);

}

.selected-coin-board {
  display:flex;
  border: 0px solid #f9f7f9;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  margin: 100px;
}

.selected-coin-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100%;
  height: 600px;
  padding: 200px;
  align-items: center;
  justify-content: center;
  

}

.selected-coin-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e3;
  padding: 2px;

}

.selected-coin-cell {
  height: 45px;
  width: 45px;
  border: 0px solid #c9c6c6;
  background-color: #ebe9e9;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.selected-coin-cell img {
  max-width: 42px;;
  max-height: 42px;
}

